.cnDetailedCardRoot {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.cnDetailedCardHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    padding-left: 20px;
    background-color: white;
}

.cnDetailedCardImg {
    height: 300px;
    width: 100%;
}

.cnDetailedCardButtons {
    display: flex;
    padding: 10px;
}

.cnDetailedCardLikes {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.cnDetailedCardComments {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.cnDetailedCardTextArea {
    box-sizing: border-box;
    border: none;
    background-color: white;
    padding: 10px;
    outline: none;
    resize: none;
    width: 80%;
}

.cnDetailedCardIconLike {
    margin-right: 10px;
    cursor: pointer;
}

.cnDetailedCardIconComment {
    cursor: pointer;
}

.cnDetailedCardCommentTitle {
    font-size: 14px;
    color: #dbdbdb;
    cursor: pointer;
}

.cnDetailedCardTextAreaWrapper{
    position: relative;
    background: white;
}

.cnDetailedCardSendButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.cnDetailedCardSendButton:active {
    background: #1976D2;
}

.cnDetailedCardSendButton:disabled {
    background: #E3F2FD;
}